body{
    background-color: hsl(0,0%,95%);
    font-size: 15px;
    font-family: 'Lexend Deca';
    color: hsl(0,0%,95%);
}


.contenedor{
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    background-color: blue;
    display: flex;
    max-width: 900px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.contenedor__seccion{
    width: 300px;
    height: 500px;
    background-color: blueviolet;
    padding: 50px 40px 10px 40px;
}

.contenedor__seccion:nth-child(1){
    background-color: hsl(31, 77%, 52%);
}

.contenedor__seccion:nth-child(2){
    background-color: hsl(184, 100%, 22%);
}

.contenedor__seccion:nth-child(3){
    background-color: hsl(179, 100%, 13%);
}

h1{
    margin-top: 30px;
    font-size: 40px;
    font-family: "Big Shoulders Display";
}



.boton{
    margin-top: 150px;
    padding: 10px 20px;
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 30px;
    color: none;
}

.boton:hover{
    background-color: transparent;
}

.boton:hover > p{
    color: hsl(0,0%,95%);
}

